
    	<%= render 'shared/header' %>
<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <div class="flex justify-between align-center">
    	<% if logged_in? %>
    	         	 <%= render 'shared/input/buttons/secondary', color: "green", label: "Return to Yours!", href: root_path %>
         <% else %>
          <%= render 'shared/input/buttons/secondary', color: "green", label: "Create Yours!", href: signup_path %>
        <% end %>
    </div>
    <%= render 'shared/profile/preview', profile: profile %>
</main>